.checkoutform label{
    font-size: 14px;
    font-weight: 600;
}

.checkoutform input{
    font-size: 14px;
}

.whatsapp-icon {
    color: #25D366; /* WhatsApp green */
    font-size: 60px; /* Adjust size as needed */
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 128px;
}